.mat-card1:not([class*=mat-elevation-z]) {
    box-shadow: 2px 3px 7px 3px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgb(0 0 0 / 53%) !important;
}


.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgb(0 0 0 / 31%);
}


.button {
    background-color: green; /* Green */
    border: 2px solid green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 2px 15px;
    border-radius: 3px;
  }




.grid-container {
    
    display: grid !important;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    width: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 250px;
  border-radius: 20px;
}
.buttonNext {
  
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 2px 15px;
  border-radius: 3px;
}